@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  font-weight: normal;
  font-size: 16px;
}

.content {
  max-width: 1160px;
  width: 100%;
  height: 100%;
  margin: auto auto;
}
@media (max-width: 768px) {
  .content {
    max-width: 768px;
  }
}

.header {
  height: 80px;
  width: 100%;
  background: #000000;
  backdrop-filter: blur(2px);
  padding: 0 30px;
}
.header .content {
  display: flex;
  align-items: center;
  gap: 63px;
}
@media (max-width: 768px) {
  .header .content {
    padding: 3px 0 0 0px;
  }
}
@media (max-width: 768px) {
  .header .logo {
    border: none;
    height: 34px;
    margin-left: 0;
  }
}
@media (max-width: 414px) {
  .header .logo {
    position: relative;
    left: -10px;
    top: 0.5px;
  }
}
.header .logo_orange {
  color: #FE9013;
  position: absolute;
  left: 1x;
  top: 13px;
  font-size: 15.2116px;
  line-height: 120%;
}
@media (max-width: 414px) {
  .header .logo_orange {
    left: 2px;
  }
}
.header .logo_orange::before {
  content: "";
  display: block;
  width: 65.6px;
  height: 41.6px;
  border: 0.8px solid #FE9013;
  border-radius: 2px;
  position: absolute;
  top: -3px;
  left: 8px;
}
.header .logo_orange::after {
  content: "";
  width: 10px;
  height: 20.98px;
  position: absolute;
  left: 16px;
  top: 16px;
  background-image: url("../../assets/icons/bamboo-orange.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 414px) {
  .header .logo_orange::after {
    left: 16px;
    top: 16px;
    width: 10px;
  }
}
@media (max-width: 768px) {
  .header {
    height: 34px;
    padding: 3px 10px 0 2px;
  }
}
@media (max-width: 414px) {
  .header {
    font-size: 12.2899px;
    line-height: 120%;
  }
}
@media (max-width: 768px) {
  .header .menu {
    display: none;
  }
}
.header .menu_burger-open {
  display: block;
  transition: all 0.3s ease 0s;
  flex-direction: column;
  gap: 15px;
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0;
  padding: 82px 0 0 10px;
}
@media (max-width: 768px) {
  .header .menu_burger-open .menu__item {
    margin: 0 0 14.6px 0;
  }
}
@media (max-width: 768px) {
  .header .menu_burger-open .menu__link {
    margin: 0 0 0 0;
    line-height: 140%;
  }
}

.logo {
  font-size: 19.0145px;
  line-height: 120%;
  color: #FFFFFF;
  width: 82px;
  height: 52px;
  text-align: center;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  position: relative;
  z-index: 10;
  padding-top: 3px;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .logo {
    width: 82.1px;
  }
}
@media (max-width: 768px) {
  .logo {
    font-size: 12.2899px;
    padding: 0;
  }
}
.logo::after {
  content: "";
  width: 12px;
  height: 20.98px;
  position: absolute;
  left: 9.3px;
  top: 21px;
  background-image: url("../../assets/icons/bamboo.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 1000px) {
  .logo::after {
    left: 9px;
  }
}
@media (max-width: 768px) {
  .logo::after {
    left: 22px;
    top: 13.5px;
    width: 7px;
  }
}

.logo__link {
  text-decoration: none;
}

menu {
  width: 100%;
  height: auto;
}

.menu {
  display: flex;
  gap: 58px;
  position: relative;
}
@media (max-width: 1000px) {
  .menu {
    gap: 48px;
  }
}

.menu__burger-icon {
  display: none;
}
@media (max-width: 768px) {
  .menu__burger-icon {
    display: block;
    background-image: url("../../assets/icons/burger-menu.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 18px;
    height: 10px;
    position: absolute;
    right: 20px;
    top: 11px;
    color: white;
    cursor: pointer;
  }
}
@media (max-width: 414px) {
  .menu__burger-icon {
    right: 10px;
    top: 12px;
  }
}
.menu__item {
  position: relative;
  list-style-type: none;
}

.menu__copyright {
  margin-left: auto;
  letter-spacing: -0.7px;
  margin-right: 3px;
}
@media (max-width: 1000px) {
  .menu__copyright {
    margin-right: 2px;
  }
}
@media (max-width: 768px) {
  .menu__copyright {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .menu__burger-open {
    margin: 0 0 20px 0;
  }
}

.menu__link {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 500;
  line-height: 140%;
  padding: 5px 0;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .menu__link {
    color: #333B41;
    margin: 0 0 15px 10px;
    font-weight: normal;
  }
}
.menu__link::after {
  content: "";
  position: absolute;
  width: 0;
  left: 0;
  top: 110%;
  height: 2px;
  background-image: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  transition: width 0.3s ease 0s;
}
.menu__link:hover::after {
  width: 100%;
}

.menu__link_activ {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  pointer-events: none;
}

/*# sourceMappingURL=style.css.map */
