$color-green: #4B9200;
$color-orange: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
$color-orange-grad: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
$color-yellow: #FFEE2E;
$color-pink-grad: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
$color-rad: #D31414;
$color-black-blue: #333B41;
$color-gray: #767474;
$color-gray-smoky: #ABABAB;
$color-light-gray: #F1F3F2;
$color-glass-white: rgba(253, 253, 255, 0.52);

@font-face {
  font-family: "Roboto"; 
  src: url("../../assets/fonts/Roboto-Bold.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: bold; 
} 
@font-face {
  font-family: "Roboto"; 
  src: url("../../assets/fonts/Roboto-Regular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
} 
@font-face {
  font-family: "Roboto"; 
  src: url("../../assets/fonts/Roboto-Medium.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 500; 
} 
@font-face {
  font-family: "Roboto"; 
  src: url("../../assets/fonts/Roboto-Light.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 300; 
}
@font-face {
  font-family: "Roboto"; 
  src: url("../../assets/fonts/Roboto-Thin.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 100; 
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  font-weight:normal;
  font-size: 16px;
  color: $color-black-blue;
}

.content {
  max-width: 1160px;
  width: 100%;
  height: 100%;
  margin: auto auto;
  @media (max-width: 768px) {
    max-width: 768px;
  }
}

.btn {
  text-transform: uppercase;
  width: 298px;
  height: 54px;
  border-radius: 25px;
  background-image: $color-orange;
  // background-color: transparent;
  // transition: background-color 0.3s ease 0s;
  border: none;
  color: white;
  padding: 0 0 0.5px 3.5px;
  letter-spacing: 0.1px;
  display: block;
  box-sizing: border-box;
  cursor: pointer;
  &:hover {
    background-image: none;
    background-color: #E47209; 
    
  }
  &:active {
    background-image: none;
    background-color: rgb(75	146	0);
    
  }
}
.btn_rect {
  border-radius: 5px;
}

.header {
  height: 80px;
  width: 100%;
  background: #000000;
  backdrop-filter: blur(2px);
  padding: 0 30px;
  position: relative;
  z-index: 20;  
  .content {
    display: flex;
    align-items: center;
    gap: 63px;
    @media (max-width: 768px) {
      // flex-direction: column;
      // align-items: flex-start;
      
      padding: 3px 0 0 0px;
    }
  } 
  .logo  {
    @media (max-width: 768px) {
      border: none;
      height: 34px;
      margin-left: 0;
    }
    @media (max-width: 414px) {
      position: relative;
      left: -10px;
      top: 0.5px;
    }
  }
  .logo_orange {
    color: #FE9013;
    position: absolute;
    left:1x;
    top: 13px;
    font-size: 15.2116px;
    line-height: 120%;

    transition: all 0.3s ease 0.32s;

    @media (max-width: 768px) {
    }
    @media (max-width: 414px) {
      left: 2px;
    }
    &::before {
      content: "";
      display: block;
      width: 65.6px;
      height: 41.6px;
      border: 0.8px solid #FE9013;
      border-radius: 2px;
      position: absolute;
      top: -3px;
      left: 8px;
      transition: all 0.3s ease 0.32s;
    }
    &::after {
      content: "";
      width: 10px;
      height: 20.98px;
      position: absolute;
      left: 16px;
      top: 16px;

      background-image: url("../../assets/icons/bamboo-orange.svg") ;
      background-repeat: no-repeat;
      background-size: contain;
      transition: all 0.3s ease 0.32s;

      @media (max-width: 414px) {
        left: 16px;
        top: 16px;
        width: 10px;
      }
    }
  }
  @media (max-width: 768px) {
    height: 34px;
    padding: 3px 10px 0 2px;
  }
  @media (max-width: 414px) {
    font-size: 12.2899px;
    line-height: 120%;    
  }
  .menu {
    @media (max-width: 768px) {
      display: none;
    }
  }
  @keyframes show {
    0% {
      transform: 0;
    }
    100% {
      transform:translateY(1000px);
    }
  }
  .menu_burger-open {
    display: block;
    min-height: 100vh;
    flex-direction: column;
    gap: 15px;
    background-color: white;

    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: -1000px;

    animation: show 0.3s 1;
    animation-fill-mode: forwards;


    padding: 82px 0 0 10px; 

    @media (max-width: 768px) {
        margin: 0 0 20px 0;
      }
    .menu__item {
      @media (max-width: 768px) {
        margin: 0 0 14.6px 0;       
      }
    }
    .menu__link {
      @media (max-width: 768px) {
        margin: 0 0 0 0;       
        line-height: 140%;

      }
    }
}
}
.logo {
  font-size: 19.0145px;
  line-height: 120%;
  color: #FFFFFF;
  transition: color 0.3s ease 0s;

  width: 82px;
  height: 52px;

  text-align: center;

  border: 1px solid #FFFFFF;
  border-radius: 2px;

  position: relative;
  z-index: 10;

  padding-top: 3px;
  cursor: pointer;

  &:hover {
    color: #FE9013;
    
  }

  @media (max-width: 1000px) {
    width: 82.1px;
  }
  @media (max-width: 768px) {
    font-size: 12.2899px;
    padding:0;
  }
  
  &::after {
    content: "";
    width: 12px;
    height: 20.98px;
    position: absolute;
    left: 9.3px;
    top: 21px;

    background-image: url("../../assets/icons/bamboo.svg") ;
    background-repeat: no-repeat;
    background-size: contain;
  
    @media (max-width: 1000px) {
      left: 9px;
    }
    @media (max-width: 768px) {
      left: 22px;
      top: 13.5px;
      width: 7px;
    }
  }
}

.logo__link {
  text-decoration: none;
}
menu {
  width: 100%;
  height: auto;
  
}
.menu {
  display: flex;
  gap: 58px;
  position: relative;
  @media (max-width: 1000px) {
    gap: 48px;
  }
}

.menu__burger-icon {
  display: none;

  @media (max-width: 768px) {
    display: block;
    background-image: url("../../assets/icons/burger-menu.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 18px;
    height: 10px;
    position: absolute;
    right: 20px;
    top: 11px;
    color: white;
    cursor: pointer;
  }
  @media (max-width: 414px) {
    right: 10px;
    top: 12px;
  }
}
.menu__item {
  position: relative;
  list-style-type: none;
}
.menu__copyright {
  margin-left: auto; 
  letter-spacing: -0.70px;
  margin-right: 3px;
  @media (max-width: 1000px) {
    margin-right: 2px;
  }
  @media (max-width: 768px) {
    margin: 0;
  }
}

.menu__link {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 500;
  line-height: 140%;
  padding: 5px 0;
  white-space: nowrap;
  @media (max-width: 768px) {
    color: $color-black-blue;
    margin: 0 0 15px 10px;
    font-weight: normal;
  }

  &::after {
    content: "";
    position: absolute;
    width: 0;
    left: 0;
    top: 110%;
    height: 2px;
    background-image: $color-orange;
    transition: width 0.3s ease 0s;
  }
  &:hover::after {
    width: 100%;   
  }
}

.menu__link_activ {
  color: #F9804B;
  pointer-events: none;
}
.section-1 {
  height: 385px;
  width: 100%;
  background-image: url("../../assets/images/panda-donate.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 5px 0px;
}
.section-2 {
  height: 1482px;
  background-image: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%);
  padding: 40px 0 0 0;
  &__title {
    font-weight: normal;
    font-size: 36px;
    line-height: 130%;
    color: #FFFFFF;
    margin: 0 0 10px 0;
  }
  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    margin: 0 0 40px 0;
  }
  &__sub-title {
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #FE9013;
    margin: 0 0 50px 0;
  }
}
.feed {
  width: 100%;
  height: 964px;
  background: rgba(255, 255, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  padding: 40px 92px 62px;

  &__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #FE9013;
    margin: 0 0 10px 0;
  }
  &__sub-title {
    font-weight: normal;
    font-size: 24px;
    line-height: 120%;
    color: $color-black-blue;
    margin: 0 0 87px 0;
  }
  &__widget {
    margin: 0 auto 30px;
  }
  &__amount {
    margin: 0 0 50px 0;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number] {
    -moz-appearance: textfield;
  }
  &__another-amount {
    width: 268px;
    height: 54px;
    border: 1px solid #929699;
    border-radius: 2px;
    background-color: rgba($color: white, $alpha: 0);
    padding: 0 0 0 9px;
    display: block;
    

    &-simbol {
      position: relative;
      display: block;
      width: fit-content;
      margin: 0 auto 25px;

      &::before {
        content: "";
        display: block;
        width: 10px;
        height: 20px;
        background-image: url("../../assets/icons/dollar.svg");
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 16px;
        right: 9px;
      }
    }
  }
  &__choise {
    margin: 0 auto 30px;
  }
}

.widget {
  height: 246px;
  width: 534px;
  
  display: flex;
  align-items: center;

  &__count {
    margin: 30px 0 0 0;
  }
  &__number {
    font-weight: 500;
    font-size: 72px;
    line-height: 80%;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
  }
  &__label {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: $color-black-blue;
  }
  &__simbol {
    display: block;
    background-image: url("../../assets/icons/x-icon.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 16px;
    height: 16px;
  }
  &__icon {
    margin: 0 0 0 30px;
  }
}
.amount {
  &__label {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
    display: block;
    margin: 0 0 17px 0;
  }
  &__group {
    height: 75px;
  }
  &__radio-group {
    height: 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 26px;
    background: #404950;
    border-radius: 2px;
    margin: 0 0 12px 0;
    position: relative;
    
    &::before {
      content: "";
      height: 2px;
      background:  #72828E;
      border-radius: 2px;
      border: none;
      position: absolute;
      top: 12px;
      left: 30px;
      right: 30px;
      z-index: 1;
    }
  }
  &__radio-label {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FFEE2E;
    position: relative;
    z-index: 10;
  }
  &__radio {
    opacity: 0;
    cursor: pointer;
    box-sizing: content-box;
    display: block;
    height: 25px;
    width: 25px;
    position: relative;
    left:-8px;
    top: -8px;
    &:checked ~span::before {
      content: "";
      display: block;
      width: 40px;
      height: 40px;
      border: 2px solid #FE9013;
      border-radius: 50%;
      position: absolute;
      top: -15px;
      left: -15px;
    }
    &:checked ~span::after {
      content: "";
      display: block;
      width: 23px;
      height: 23px;
      border: 2px solid #FE9013;
      border-radius: 50%;
      position: absolute;
      top: -6.5px;
      left: -6.5px;
    }
  }

  &__price-group {
    display: flex;
    justify-content: space-between;
    padding: 0 24px 0 0;
  }
  &__price {
    display: block;
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    text-transform: uppercase;
    color: #333B41;
  }
}
.choise {
  width: 196px;
  display: flex;
  justify-content: space-between;

  &__radio-label {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
    position: relative;
    padding: 0 0 0 10px;
    display: block;
    

    &::before {
      content: "";
      width: 16px;
      height: 16px;
      border-radius: 50%;
      border: 1px solid #FE9013;
      position: absolute;
      top: 0;
      left: 0;
    }
    &::before ~input:checked {
      border: 1px solid $color-green;
      background-color: $color-green;
    }
  }
  &__radio {
    opacity: 0;
    position: relative;
    left: -8px;
    top: -3px;
    cursor: pointer;
  }
}

.footer {
  background: #111115;
  padding: 40.5px 0 0 0;
  .content {
    display: flex;
    flex-direction: column;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    
    &:nth-child(1) {
      margin: 0 0 35px 0;
    }
    &:nth-child(2) {
      margin: 0 0 47px 0;
    }
    &:nth-child(3) {
      margin: 0 0 50px 0;
    }
  }
  menu {
    width: 371px;
    padding: 0 0 2px 0;
    margin: auto 0 0 125px;
  }
  &__copyright {
    font-weight: 100;
    font-size: 16px;
    line-height: 176%;
    color: #FFFFFF;
    padding: 0 0 0 0;
    margin: auto 0 0 0;
  }
}
.subscribe {
  &__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: white;

    margin: 0 0px 13px 0px;
  }
  &__email {
    width: 228px;
    height: 42px;
    border: 0.7px solid #FE9013;
    border-radius: 2px;;
    background: #111115;
    color: #BDBDBD;
    padding: 0 0 0 10px;
    margin: 0 6px 0 0;
    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: #BDBDBD;
    }
    &:active {
      appearance: none;
      border: 0.7px solid $color-green;
    }
    &:invalid + .subscribe__btn {
      color: $color-rad;
      border-color: $color-rad;
    }
  }
  &__btn {
    width: 129px;
    height: 42px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    
    border: 1px solid $color-black-blue;
    color: black;

    background: #F1F3F2;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      font-weight: 500;
      border: 1.5px solid;
    }
    &:active {
      color: $color-green;
      border-color: $color-green;
    }
  } 
}
.social {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__item {
    list-style-type: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover {
      transform: scale(1.05);
    }
  }
  &__link {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 12px;
    

  }
  &__icon {
    display: inline-block;
    width: 26px;
    height: 26px;
    background: rgba(196, 196, 196, 0.5);
    border-radius: 50%;
    position: relative;
    &::before {
      content: "";
      width: 20px;
      height: 20px;
      
      background-repeat: no-repeat;
      background-size: auto;
      position: absolute;
    }
    &_facebook {
      &::before {
        background-image: url("../../assets/icons/facebook.svg");
        left: 9px;
        top: 4px;
      }
    }
    &_twitter {
      &::before {
        background-image: url("../../assets/icons/twitter.svg");
        left: 5px;
        top: 5px;
      }
    }
    &_instagram {
      &::before {
        background-image: url("../../assets/icons/instagram.svg");
        left: 5px;
        top: 5px;
      }
    }
    &_youtube {
      &::before {
        background-image: url("../../assets/icons/youtube.svg");
        left: 4px;
        top: 6px;
      }
    }
  }
  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
    cursor: pointer;
  }
}