include ./../button/button.pug

mixin header() 
    .header 
        figure.logo
            a.logo__link(href="./") 
                img.logo__img(src=require("../../assets/logo/logo-header.png") alt="Logo")
                label.logo__label sound quiz
        menu.menu
            li.menu__item
                a.menu__link.menu__link--active(href="") About 
            li.menu__item
                a.menu__link(href="") Quiz 
            li.menu__item
                a.menu__link(href="#") Gallery
        +button("Lets play", "js-btn--play")
