include ./../button/button.pug
include ./../toggle/toggle.pug

mixin header() 
    .header 
        figure.logo
            a.logo__link(href="./") 
                img.logo__img(src=require("../../assets/logo/logo-header.png") alt="Logo")
                label.logo__label sound quiz
        menu.menu
            li.menu__item
                a.menu__link.menu__link--active(href="") About 
            li.menu__item
                a.menu__link(href="") Quiz 
            li.menu__item
                a.menu__link(href="#") Gallery
        .header__options
          +toggle("dark theme")        
          .languague
              .languague__icon.languague__icon--en(alt="Languegue") 
              label.languague__label English 
        //- +button("Lets play", "js-btn--play")
