.header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--shadow-color);
    padding: 5px 10px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 20;

    @media (max-width: 820px) {
        width: 90%;
        margin: 0 0 0 5%;
        height: 80px;
        position: absolute;
        padding: 5px 10px;
    }
    @media (max-width: 414px) {
      padding: 5px 5px;
      // display: none;
    }

    .logo {
        margin: 0 0 0 10px; 
    }

    .btn {
        margin: 0 10px 0 0;

        @media (max-width: 820px) {
            display: none;
        }
    }
}
.logo-animate {
  width: 105px;
  height: 100%;
  position: relative;

  &__left {
    width: 50px;
    height: 50px;
    background: unset;
    object-fit: contain;
    position: absolute;
    left: 0;
    top: -3px;
    &--on-anim {
      animation: go-left-fly 0.7s infinite alternate;
    }
  }
  &__mid {
    width: 50px;
    height: 50px;
    background: unset;
    object-fit: contain;
    position: absolute;
    left: 27px;
    top: 5px;
    &--on-anim {
      animation: go-mid-fly 0.7s infinite alternate;
    }
  }
  &__right {
    width: 50px;
    height: 50px;
    background: unset;
    object-fit: contain;
    position: absolute;
    right: 0px;
    top: -3px;

    &--on-anim {
      animation: go-right-fly 0.7s infinite alternate;
    }
  }
  &__label {
    position: absolute;
    background: unset;
    font-weight: 700;
    font-size: 0.9rem;
    text-transform: uppercase;
    color: var(--primary-accent-color);
    bottom: -5px;
    left: 10px;
    &--on-anim {
      animation: go-label-fly 0.7s infinite alternate;
    }
  }
}

@keyframes go-left-fly {
  from {
    left: 0;
    top: -3px;
    transform: rotate(0);
  }
  to {
    left: -9px;
    top: 9px;
    transform: rotate(-30deg);
  }
}
@keyframes go-right-fly {
  from {
    right: 0px;
    top: -3px;
    transform: rotate(0);
  }
  to {
    right: -9px;
    top: 9px;
    transform: rotate(30deg);
  }
}
@keyframes go-mid-fly {
  from {
      top: 6px;
  }
  to {
      top: 4px;
  }
}
@keyframes go-label-fly {
  from {
      bottom: -5px;
  }
  to {
      bottom: -3px;
  }
}
.logo {
    height: 100%;
    position: relative;

    &__link{
        display: block;
        height: 100%;
        cursor: pointer;
    }

    &__img {
      height: 80%;
      object-fit: contain;
    }

    &__label {  
      font-size: 0.85rem;
      font-weight: 800;
      white-space: nowrap;
      color: var(--primary-accent-color);
      position: absolute;
      bottom: -3px;
      left: -4%;
      pointer-events: none;
      text-transform: uppercase;

      @media (max-width: 820px) {
        font-size: 0.7rem;
        left: 5%;
      }
    }
}

.menu {
    display: flex;
    gap: 45px;
    
    @media (max-width: 1000px) {
        gap: 5vw;
    }

    &__item {
        list-style-type: none;    
        position: relative;
    }

    &__link {
        text-decoration: none;
        font-size: 1.5rem;
        cursor: pointer;
        transition: color 0.15s ease-in 0s;
        text-shadow: 0.5px 1px 4px var(--shadow-color);
        user-select: none;
        background: unset;

        @media (max-width: 820px) {
            font-size: 1.125rem;
        }

        @media (max-width: 414px) {
          font-size: 0.9rem;
        }

        &::after {
            content: "";
            position: absolute;
            width: 0;
            left: 0;
            top: 110%;
            height: 2px;
            background-color: var(--primary-accent-color);
            transition: width 0.3s ease 0s;
        }

        &:hover::after {
            width: 100%;   
        }
        
        &--active {
          pointer-events: none;
          &::after {
            width: 100%;   
          }
        }
    }
}

.header__options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  align-items: flex-start;

  @media (max-width: 820px) {
    display: none;
  }

  .languague {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    align-items: center;


    &__icon {
      width: 27px;
      height: 19px;
      
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      margin: 0 15px 0 6px;
      border-radius: 3px;
      border: 1px solid var(--shadow-color);
      transition: background-image 0.15s ease 0s;

      &--en {
        background-image: url("./../../assets/logo/lang-en.png");
      }
      &--ru {
        background-image: url("./../../assets/logo/lang-ru.png");
      }
    }

    &__label {
      pointer-events: none;
    }
  }
}

