$color-green: #4B9200;
$color-orange: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
$color-orange-grad: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
$color-yellow: #FFEE2E;
$color-pink-grad: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
$color-rad: #D31414;
$color-black-blue: #333B41;
$color-gray: #767474;
$color-gray-smoky: #ABABAB;
$color-light-gray: #F1F3F2;
$color-glass-white: rgba(253, 253, 255, 0.52);

@font-face {
  font-family: "Roboto"; 
  src: url("../../assets/fonts/Roboto-Bold.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: bold; 
} 
@font-face {
  font-family: "Roboto"; 
  src: url("../../assets/fonts/Roboto-Regular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
} 
@font-face {
  font-family: "Roboto"; 
  src: url("../../assets/fonts/Roboto-Medium.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 500; 
} 
@font-face {
  font-family: "Roboto"; 
  src: url("../../assets/fonts/Roboto-Light.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 300; 
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  font-weight:normal;
  font-size: 16px;
}

.content {
  max-width: 1160px;
  width: 100%;
  height: 100%;
  margin: auto auto;
}
.header {
  height: 80px;
  width: 100%;
  background: #000000;
  backdrop-filter: blur(2px);
  
  .content {
    display: flex;
    align-items: center;
    gap: 63px;
  }

  .menu {
    display: flex;
    gap: 58px;
  }
  .menu__link {
    text-decoration: none;
    color: #FFFFFF;
  }
  
}
        

.logo {
  font-size: 19.0145px;
  line-height: 120%;
  color: #FFFFFF;

  width: 82px;
  height: 52px;

  text-align: center;

  border: 1px solid #FFFFFF;
  border-radius: 2px;

  position: relative;
  
  &::after {
    content: "";
    width: 12.03px;
    height: 20.98px;
    position: absolute;
    left: 10px;
    top: 20px;

    background-image: url("../../assets/icons/bamboo.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}