$color-green: #4B9200;
$color-orange: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
$color-orange-grad: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
$color-yellow: #FFEE2E;
$color-pink-grad: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
$color-rad: #D31414;
$color-black-blue: #333B41;
$color-gray: #767474;
$color-gray-smoky: #ABABAB;
$color-light-gray: #F1F3F2;
$color-glass-white: rgba(253, 253, 255, 0.52);

@font-face {
  font-family: "Roboto"; 
  src: url("../../assets/fonts/Roboto-Bold.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: bold; 
} 
@font-face {
  font-family: "Roboto"; 
  src: url("../../assets/fonts/Roboto-Regular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
} 
@font-face {
  font-family: "Roboto"; 
  src: url("../../assets/fonts/Roboto-Medium.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 500; 
} 
@font-face {
  font-family: "Roboto"; 
  src: url("../../assets/fonts/Roboto-Light.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 300; 
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  font-weight:normal;
  font-size: 16px;
}

.content {
  max-width: 1160px;
  width: 100%;
  height: 100%;
  margin: auto auto;
  @media (max-width: 768px) {
    max-width: 768px;
  }
}
.header {
  height: 80px;
  width: 100%;
  background: #000000;
  backdrop-filter: blur(2px);
  padding: 0 30px;
  position: relative;
  z-index: 20;  
  .content {
    display: flex;
    align-items: center;
    gap: 63px;
    @media (max-width: 768px) {
      // flex-direction: column;
      // align-items: flex-start;
      
      padding: 3px 0 0 0px;
    }
  } 
  .logo  {
    @media (max-width: 768px) {
      border: none;
      height: 34px;
      margin-left: 0;
    }
    @media (max-width: 414px) {
      position: relative;
      left: -10px;
      top: 0.5px;
    }
  }
  .logo_orange {
    color: #FE9013;
    position: absolute;
    left:1x;
    top: 13px;
    font-size: 15.2116px;
    line-height: 120%;


    @media (max-width: 768px) {
    }
    @media (max-width: 414px) {
      left: 2px;
    }
    &::before {
      content: "";
      display: block;
      width: 65.6px;
      height: 41.6px;
      border: 0.8px solid #FE9013;
      border-radius: 2px;
      position: absolute;
      top: -3px;
      left: 8px;
    }
    &::after {
      content: "";
      width: 10px;
      height: 20.98px;
      position: absolute;
      left: 16px;
      top: 16px;

      background-image: url("../../assets/icons/bamboo-orange.svg") ;
      background-repeat: no-repeat;
      background-size: contain;

      @media (max-width: 414px) {
        left: 16px;
        top: 16px;
        width: 10px;
      }
    }
  }
  @media (max-width: 768px) {
    height: 34px;
    padding: 3px 10px 0 2px;
  }
  @media (max-width: 414px) {
    font-size: 12.2899px;
    line-height: 120%;    
  }
  .menu {
    @media (max-width: 768px) {
      display: none;
    }
  }
  .menu_burger-open {
    display: block;
    transition: all 0.3s ease 0s;
    flex-direction: column;
    gap: 15px;
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0;
    padding: 82px 0 0 10px;
    
    .menu__item {
      @media (max-width: 768px) {
        margin: 0 0 14.6px 0;       
      }
    }
    .menu__link {
      @media (max-width: 768px) {
        margin: 0 0 0 0;       
        line-height: 140%;

      }
    }
}
}
.logo {
  font-size: 19.0145px;
  line-height: 120%;
  color: #FFFFFF;

  width: 82px;
  height: 52px;

  text-align: center;

  border: 1px solid #FFFFFF;
  border-radius: 2px;

  position: relative;
  z-index: 10;

  padding-top: 3px;
  cursor: pointer;

  @media (max-width: 1000px) {
    width: 82.1px;
  }
  @media (max-width: 768px) {
    font-size: 12.2899px;
    padding:0;
  }
  
  &::after {
    content: "";
    width: 12px;
    height: 20.98px;
    position: absolute;
    left: 9.3px;
    top: 21px;

    background-image: url("../../assets/icons/bamboo.svg") ;
    background-repeat: no-repeat;
    background-size: contain;
  
    @media (max-width: 1000px) {
      left: 9px;
    }
    @media (max-width: 768px) {
      left: 22px;
      top: 13.5px;
      width: 7px;
    }
  }
}

.logo__link {
  text-decoration: none;
}
menu {
  width: 100%;
  height: auto;
  
}
.menu {
  display: flex;
  gap: 58px;
  position: relative;
  @media (max-width: 1000px) {
    gap: 48px;
  }
}

.menu__burger-icon {
  display: none;

  @media (max-width: 768px) {
    display: block;
    background-image: url("../../assets/icons/burger-menu.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 18px;
    height: 10px;
    position: absolute;
    right: 20px;
    top: 11px;
    color: white;
    cursor: pointer;
  }
  @media (max-width: 414px) {
    right: 10px;
    top: 12px;
  }
}
.menu__item {
  position: relative;
  list-style-type: none;
}
.menu__copyright {
  margin-left: auto; 
  letter-spacing: -0.70px;
  margin-right: 3px;
  @media (max-width: 1000px) {
    margin-right: 2px;
  }
  @media (max-width: 768px) {
    margin: 0;
  }
}
.menu__burger-open  {
  @media (max-width: 768px) {
    margin: 0 0 20px 0;
  }
}
.menu__link {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 500;
  line-height: 140%;
  padding: 5px 0;
  white-space: nowrap;
  @media (max-width: 768px) {
    color: $color-black-blue;
    margin: 0 0 15px 10px;
    font-weight: normal;
  }

  &::after {
    content: "";
    position: absolute;
    width: 0;
    left: 0;
    top: 110%;
    height: 2px;
    background-image: $color-orange;
    transition: width 0.3s ease 0s;
  }
  &:hover::after {
    width: 100%;   
  }
}

.menu__link_activ {
  background: $color-orange;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  pointer-events: none;
}

.section-1 {
  width: 100%;
  max-height: 780px;
  height: calc(48.75vw + 15px);
  background-image: url("../../assets/images/giant-panda.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -80px;

  @media (max-width: 1400px) {
    background-image: url("../../assets/images/giant-panda-small-desktop.jpg");
    background-position: 50% -100px;
    min-height: 49.9vw;
  }
  @media (max-width: 1200px) {
    height: 56vw;
    background-position: 50% -80px;
  }
  @media (max-width: 820px) {
    background-image: url("../../assets/images/giant-panda-tablet.jpg");
    background-position: 50% -35px;
  }
  @media (max-width: 820px) {
    background-image: url("../../assets/images/giant-panda-mobile.jpg");
    background-position: 50% 0px;
    height: 58.4vw;
  }
  .content {
    padding: 5.375vw 0 0 0;
    @media (max-width: 1400px) {
      padding: 6.1vw 0 0 0;
    }
    @media (max-width: 1000px) {
      padding: 4.2vw 0 0 0;
    }
    @media (max-width: 820px) {
      padding: 7.5vw 0 0 0;
    }
    @media (max-width: 620px) {
      padding: 42px 0 0 0;
    }
  }

  &__title{
    color: #FFFFFF;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 75%;
    width: 500px;
    height: 400px;
    text-align: center;
    margin: 0 0 3.76vw auto;
    position: relative;
    z-index: 10;

    @media (max-width: 1400px) {
      font-size: 97px;
      margin: 0 50px 3.3vw auto;
    }
    @media (max-width: 1200px) {
      font-size: 85px;
      margin: 0 85px 4vw auto;
      width: 400px;
      height: 320px;
    }
    @media (max-width: 976px) {
      font-size: 54.2894px;
      width: 255px;
      height: 204px;
      margin: 0 2.6vw 0 auto;
    }
    @media (max-width: 620px) {
      font-size: 28px;
      width: 128px;
      height: 102px;
      margin: 0 3.1vw 0 auto;
    }


    &::before {
      content: "";
      width: 465px;
      height: 465px;
      border-radius: 50%;
      background-image: $color-orange;
      position: absolute;
      z-index: -1;
      top: -74px;
      left: -72px;
      @media (max-width: 1400px) {
        width: 445px;
        height: 445px;
        top: -85px;
        left: -65px;
      }
      @media (max-width: 1200px) {
        width: 367px;
        height: 367px;
        top: -52px;
        left: -58px;
      }
      @media (max-width: 976px) {
        width: 237.6px;
        height: 237.6px;
        top: -38px;
        left: -38px;
      }
      @media (max-width: 620px) {
        width: 119px;
        height: 119px;
        top: -19px;
        left: -19px;
      }
    }
  }
  &__favorite {
    font-weight: 700;
    font-size: 106px;
    line-height: 75%;
    color: $color-yellow;

    @media (max-width: 1400px) {
      font-size: 106px;
    }
    @media (max-width: 1200px) {
      font-size: 85px;
    }
    @media (max-width: 976px) {
      font-size:54.2894px;
    }
    @media (max-width: 620px) {
      font-size: 28px;
    }
  }
  &__button {
    display: block;
    margin: 0 100px 0 auto;
    @media (max-width: 1400px) {
      margin: 0 180px 0 auto;
    }
    @media (max-width: 1200px) {
      margin: 0 135px 0 auto;
    }
    @media (max-width: 976px) {
      margin: -10px auto 40px 19px;

    }
    @media (max-width: 976px) {
      margin: -7px auto 40px 20px;
    }
    @media (max-width: 620px) {
      margin: 64px auto;
    }
  }
}

.btn {
  text-transform: uppercase;
  width: 298px;
  height: 54px;
  border-radius: 25px;
  background-image: $color-orange;
  border: none;
  color: white;
  padding: 0 0 0.5px 3.5px;
  letter-spacing: 0.1px;
  display: block;
  box-sizing: border-box;
}

.section-2 {
  padding: 58px 0 0 0px;
  position: relative;
  @media (max-width:1400px) {
    padding: 52px 0 0 0px;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width:1400px) {
      max-width: 940px;
    }
    .btn {
      margin: 0 auto 100px;
      @media (max-width:1400px) {
        margin: 0 auto 140px;
      }
    }
  }
  .section-2__flower {
    position: absolute;
    right:0;
    top:-70px;
    z-index: -1;
    @media (max-width:1550px) {
      display: none;
    }
  }
  .section-2__palm {
    position: absolute;
    left:0;
    bottom:-5px;
    z-index: -1;
    @media (max-width:1000px) {
      bottom: -2px;
      left: -1px;
    }

  }
  .section-2__strelitzia {
    position: absolute;
    right:0;
    bottom:-5px;
    z-index: -1;
    @media (max-width:1000px) {
      bottom: -3px;
      right: 0px;
      width: 241px;
    }
    img {
      width: 100%;
    }
  }
}
.backstage {
  display: flex;
  justify-content: space-between;
  max-height: 403px;
  margin: 0 0 180px 0;
  @media (max-width: 1000px) {
    gap: 83px;
    margin: 0 0 157px 0px;
  }
}
.backstage__image {
  max-width: 403px;
  max-height: 609px;
}
.backstage__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 465px;
  @media (max-width: 1000px) {
    margin: -9px 0 0 0;    
  }
}
.backstage__title {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 120%;
  color: $color-black-blue;
  margin: 0 0 18px 0;
  @media (max-width: 1000px) {
    margin: 0 0 22px 0;    
  }
}
.backstage__first-text, 
.backstage__second-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  color: $color-black-blue;

}
.backstage__first-text {
  margin: 0 0 50px 0;
  @media (max-width: 1000px) {
    margin: 0 0 53px 0;    
    line-height: 130%;
  }
}
.backstage__second-text {
  @media (max-width: 1000px) {  
    line-height: 137%;
  }
}
.backstage__sub-title {
  font-weight: normal;
  font-size: 24px;
  line-height: 120%;
  color: $color-black-blue;
  margin: 0 0 34px 0;
  @media (max-width: 1000px) {
    margin: 0 0 35px 0;    
  }
}
.cards {
  position: relative;
}
.cards__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 27px;
  grid-row-gap: 23px;
  justify-items: center;
  margin: 0 0 80px 0;
  @media (max-width:1550px) {
    grid-row-gap: 92px;
  }
  @media (max-width:1000px) {
    grid-column-gap: 28px;
    margin: 0 0 82px 0;
  }
}
.cards__card {
  width: 364px;
  height: 423px; 
  position: relative;
  background: #FFF;
  
  border-radius: 5px;
  margin: 0 0 0 0;
  @media (max-width:1400px) {
    width: 294px;
    height: 354px; 
  }

  &::before {
    content: "";
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    background: $color-orange;
    z-index: -1;
    border-radius: 6px;
   
  }
  .card__img img {
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
  }
  .card__footer {
    display: flex;
    justify-content: space-between;
    margin: 0px 0 0 0;

    .card__description {
      margin: 4px 0 0 15px;
    }
    .card__title {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      color: #000000;
      margin: 0 0 -2px 0;
  
    }
    .card__text {
      font-weight: 300;
      font-size: 15px;
      line-height: 120%;
      color: #000000;
    }
    .card__icon {
      margin: 4px 9px 0 0 ;
    }
  }
}
.cards__arrow-left,
  .cards__arrow-right {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: none;
    background-image: $color-orange;  
}
.cards__arrow-left {
  position: absolute;
  left: -81px;
  top: 401px;

  @media (max-width:1550px) {
    left: 400px;
    top: 435px;
  }
  @media (max-width:1400px) {
    left: 320px;
    top: 370px;
  }
  @media (max-width:1000px) {
    left: 323px;
    top: 370px;
  }
  

  &::before{
    content: "";
    background-image: url("../../assets/icons/arrow-left.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 13px;
    position: absolute;
    top: 24px;
    left: 21px;
  }
}
.cards__arrow-right {
  position: absolute;
  left: 1179px;
  top: 401px;
  @media (max-width:1550px) {
    left: 700px;
    top: 435px;
  }
  @media (max-width:1400px) {
    left: 550px;
    top: 370px;
  }
  @media (max-width:1000px) {
    left: 556px;
    top: 370px;
  }
  &::before{
    content: "";
    background-image: url("../../assets/icons/arrow-right.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 21px;
    height: 12px;
    position: absolute;
    top: 24.5px;
    left: 18.5px;
  }
}