include components/header/header.pug

doctype html 
head 
    meta(charset="UTF-8")
    title Sound quiz 
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href=require('./style.scss') rel='stylesheet')
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600;700;900&display=swap" rel="stylesheet">
body 
    .content 
        +header()
        .start-page
            include pages/start-page/start-page.pug
        .quiz-page.quiz-page--hidden
            include pages/quiz-page/quiz-page.pug
        .results-page.results-page--hidden
            include pages/results-page/results-page.pug
        .gallery-page.gallery-page--hidden
            include pages/gallery-page/gallery-page.pug
    script(src=require("./index.js") type="module") 
