doctype html 
head 
    meta(charset="UTF-8")
    title Sound quiz 
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href=require('./style.scss') rel='stylesheet')
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,400;0,8..144,500;0,8..144,600;0,8..144,700;0,8..144,800;0,8..144,900;1,8..144,300;1,8..144,400&display=swap" rel="stylesheet">
body 
    .content 
        include pages/start-page/start-page.pug
        script(src=require("./index.js") type="module") 
