@import "./components/button/button.scss";
@import "./components/header/header.scss";
@import "./components/player/player.scss";
@import "./pages/start-page/start-page.scss";
@import "./pages/quiz-page/quiz-page.scss";

$primary-bg-color: #fffefc;
$primary-text-color: #040404;
$primary-red-color: #e16259;

body,
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $primary-text-color;
  background-color: $primary-bg-color;
  font-family: "Roboto Serif", Helvetica, sans-serif;
}
.content {
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 20px;
  position: relative;
}

.start-page {
  margin: 250px 0 0 0;

  &--hidden {
    display: none;
  }
  
}
.quiz-page {
  margin: 200px auto 0;
  &--hidden {
    display: none;
  }

}
