@import "./components/button/button.scss";
@import "./components/header/header.scss";
@import "./components/player/player.scss";
@import "./components/toggle/toggle.scss";
@import "./pages/start-page/start-page.scss";
@import "./pages/quiz-page/quiz-page.scss";

:root {
  --primary-bg-color: #fffefc;
  --primary-text-color: #040404;
  --primary-accent-color: #e16259;
  --hover-color: #c0443b;
  --right-color: rgb(53, 136, 53);
  --right-light-color: rgba(53, 136, 53, 0.5);
  --shadow-color: rgb(167, 167, 167);
  --drop-shadow-color: rgba(0,0,0,0.3);
  --shadow-light-color: rgba(167, 167, 167, 0.8)
}


// :root {
//   background-color: #fefefe;
//   filter: invert(100%);
// }

// * {
//   background-color: inherit;
// }

// img:not([src*=".svg"]) {
//   filter: invert(100%);
// }

body,
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  font-family: "Roboto Serif", Helvetica, sans-serif;
}
.content {
  margin: 0 auto;
  max-width: 1080px;  
  // position: relative;
  padding: 0 10px;
  
  @media (max-width: 820px) {
    max-width: 820px;
    padding: 0;
    overflow: hidden;
  }
}

.start-page {
  margin: 80px 0 0 0;
  
  @media (max-width: 820px) {
    margin: 0px auto 0;
    padding: 100px 0 0 0;
  }
  
  &--hidden {
    display: none;
  }
  
}
.quiz-page {
  margin: 20px auto 0;
  &--hidden {
    display: none;
  }

  @media (max-width: 820px) {
    margin: 80px auto 0;
    padding: 10px 0 0 0;
  }

}
