include ./../../components/button/button.pug

.gallery 
    h1.gallery__title musical gallery
    p.gallery__description Here you can listen to all the music and learn the information
    .gallery__items
        //- .card
        //-     .card__image
        //-         img.card__img(src=require("./../../assets/images/cello.png"), alt="Image")
        //-     .card__info
        //-         h2.card__title instrument
        //-         .card__description
        //-             p.card__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quis consequuntur fugiat tenetur nobis. Quas dolores aut, nulla autem impedit perspiciatis, minima totam velit, obcaecati beatae ex nobis amet vel?
        //-             .card__control 
        //-                 +button("more info", "card__more")
        //-                 +button("play", "card__play")                
                