.quiz {
    text-align: center;

    padding: 20px 20px;

    border: 1px solid rgb(167, 167, 167);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(167, 167, 167);
    

    &__header {
        width: 100%;   
        margin: 0 0 50px 0;
    }

    &__game{
        margin: 0 auto 20px;
        width: 80%;
        min-height: 500px;
    }

}

.choise-quiz {
    margin: 0 0 20px 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    text-transform: uppercase;
    font-size: 1.125rem;

    &__separator {
        width: 2px;
        background-color: rgb(167, 167, 167);

        &:last-child {
            width: 0;
        }
    }

    &__item {
        cursor: pointer;
        padding: 5px 40px;
        border-radius: 5px;
        
        &:hover {
            background-color: #f1efee;
        }

        &--active {
            font-weight: 700;
            background-color: #f1efee;
            pointer-events: none;
        }
    }
}
.game {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__question {
        width: 100%;
        height: 120px;
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        border: 1px solid #e16259;
    }
    &__image {
        object-fit: contain;
        width: 100px;
        height: 100px;
    }
    &__player {
        width: 60%;
        font-size: 1.125rem;
    }
    &__answers {
        margin: 10px 0 0 0;
        display: flex;
        min-height: 65%;
        height: 100%;
        border-radius: 10px;
        padding: 10px;
        border: 1px solid #e16259;
    }
    &__inputs {
        flex: 1;
        text-align: start;
        padding: 0 20px 0 0;
        border-right: 1px solid #e16259;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;

        &--disabled {
          pointer-events: none;
        }
    }  
    
    &__answer {
      display: flex;
      align-items: center;
      font-size: 1.125rem;
      line-height: 30px;
      cursor: pointer;
      border-radius: 5px;
      padding: 0 0 0 10px;
      transition: all 0.15s ease 0s;
      position: relative;
      user-select:none;

      &::before {
        content: "";
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 2px solid rgb(167, 167, 167);
        position: absolute;
        left: 5px; 
      }

      &:has(.game__input:checked)::after {
        content: "";
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color:rgb(167, 167, 167);
        position: absolute;
        left: 9px; 
      }

      &:hover {
        background-color: rgb(167, 167, 167);
        color: white;
      }

      &--is-right {
        color: green;
        font-weight: 500;
        
        &::before {
          border: 2px solid green;
        }

        &:has(.game__input:checked)::after {
          background-color:green;
        }
      }

      &--is-wrong {
        color: #e16259;
        font-weight: 500;
        pointer-events: none;
        
        &::before {
          border: 2px solid #e16259;
        }

        &:has(.game__input:checked)::after {
          background-color:#e16259;
        }
      }
    }     

    &__score {
      font-size: 1.125rem;
      margin: 0 0 5px 0;
    }

    &__correct {
      font-size: 1.125rem;
      margin: 0 0 20px 0;
    }

    &__count {
      font-size: 1.5rem;
      color:#e16259;
      font-weight: 500;
    }

    &__select {
      text-transform: uppercase;
      font-size: 1.125rem;
      font-weight: 500;
      margin: 0 0 10px 0;
    }

    &__input {
      margin: 0 5px 0 0;
      opacity: 0;
    }
    &__info {
      flex: 2;  
    }
}
.info {
    display: flex;
    flex-direction: column;
    padding: 10px;
    
    &--hidden {
      opacity: 0;
    }

    &__description {
        width: 100%;
        height: 80%;
        display: flex;
        align-items: center;

    }
    &__image {
        width: 40%;
        height: 70%;
        object-fit: contain;

    }

    &__player {

    }

    opacity: 1;
    transition: opacity 0.3s ease 0s;

    &--masked {
      opacity: 0;
    }
}
.game__next {
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: white;
  background-color: #e16259;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 10px 0;
  margin: 10px 0 0 0;
  transition: all 0.15s ease 0s;

  &:hover {
    background-color: #e15046;
  }

  &:disabled {
    background-color: rgb(167, 167, 167);
    pointer-events: none;
  }
}