include ./../../components/player/player.pug

.quiz
    .quiz__header
        ul.choise-quiz
            li.choise-quiz__item.choise-quiz__item--active sound 
            .choise-quiz__separator
            li.choise-quiz__item composer
            .choise-quiz__separator
            li.choise-quiz__item composition
            .choise-quiz__separator

    .quiz__game.game
        .game__question 
            img(src=require("./../../assets/images/collage-main.png")).game__image
            .game__player 
                +player("What musical instrument sounds?")
        .game__answers
            .game__inputs
                label.game__score Score: 
                  span.game__count 0
                label.game__correct Correct answer: 
                  span.game__temp 10
                p.game__select select an answer:
                label.game__answer
                    input.game__input(type="radio" name="answer") 
                    |  
                label.game__answer
                    input.game__input(type="radio" name="answer") 
                    |  
                label.game__answer
                    input.game__input(type="radio" name="answer") 
                    |  
                label.game__answer
                    input.game__input(type="radio" name="answer") 
                    |  
                label.game__answer
                    input.game__input(type="radio" name="answer") 
                    |  
                

            .game__info.info.info--masked
                .info__description
                    img.info__image(src=require("./../../assets/images/piano.png"))
                    p.info__text Lorem ipsum
                .info__player
                    +player("Listen music with this music instrument")
        button.game__next(disabled) next question

