include ./../../components/player/player.pug
include ./../../components/button/button.pug

.quiz
    .quiz__header
        .quiz__menu
            ul.choise-group
                select.choise-group__dropdown.dropdown
                  option instruments
                  option composers
                  option musics
                li.choise-group__item.choise-group__item--active instruments 
                .choise-group__separator
                li.choise-group__item composers
                .choise-group__separator
                li.choise-group__item musics
            ul.choise-quest
                select.choise-quest__dropdown.dropdown
                  option strings
                  option wind
                  option reed
                  option drum
                  option keyboards
                li.choise-quest__item.choise-quest__item--active strings
                li.choise-quest__item wind
                li.choise-quest__item reed
                li.choise-quest__item drum
                li.choise-quest__item keyboards
                //- li.choise-quest__item.choise-quest__item--active струнные
                //- li.choise-quest__item духовые
                //- li.choise-quest__item язычковые
                //- li.choise-quest__item ударные
                //- li.choise-quest__item клавишные
        .score
            label.score__label Score: 
                span.score__count 0
    .quiz__game.game
        .game__question 
            img(src=require("./../../assets/images/collage-main.png")).game__image
            .game__player 
                +player("What instrument?")
        .game__answers
            .game__inputs

                label.game__answer
                    input.game__input(type="radio" name="answer") 
                    |  
                label.game__answer
                    input.game__input(type="radio" name="answer") 
                    |  
                label.game__answer
                    input.game__input(type="radio" name="answer") 
                    |  
                label.game__answer
                    input.game__input(type="radio" name="answer") 
                    |  
                label.game__answer
                    input.game__input(type="radio" name="answer") 
                    |  
                

            .game__info.info.info--masked
                .info__description
                    img.info__image(src=require("./../../assets/images/piano.png"))
                    p.info__text Lorem ipsum
                .info__player
                    +player("Listen music with this music instrument")
        +button("next question", "game__next") 

